/* .glow-button neon-button{
    background-color: aquamarine;
    color: whitesmoke;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
glow-button neon-button:hover{
    background-color: teal;} */
.neon-button{
    animation: 1s infinite linear neonButton;
    box-shadow: inset 0 0 10px #ff00ff,inset 6 0 10px #ff00ff,inset -6 0 10px #ff00ff #off inset 0 0 20px #ff00ff,inset 6 0 20px #ff00ff;
    
}
@keyframes neonButton {
    100% {
        filter: hue-rotate(360deg);
        border: 2px solid #ff00ff;
    }}